:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.image {
  width: 100%;
  margin-bottom: 1vh;
  align-self: center;
  display: flex;
  background-color: #f44336;
}

img{
  margin: auto;
}

ul.b {
  list-style-type: none;
}

.mat-form-field-label {
  color: white !important;
}
