@import 'src/styles/constants';
.logo {
  position: relative;
  width:  getUnit(30);
  height:  getUnit(30);
  background-image: url('../../../../assets/logo/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-toolbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.grid-container {
  display: grid;
  height: 70%;
  overflow: auto;
  position: absolute;
  padding: 1%;
  top: 5%;
  left: 0;
  bottom: 5%;
  right: 0;
  margin: auto;
  grid-template-columns: repeat(5, 1fr);
  z-index: 1;
}

mat-paginator {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.item {
  margin: getUnit(3);
}



