<mat-toolbar color="black">
  <div class="logo"></div>
  <span>Pokedex</span>
</mat-toolbar>

<div class='grid-container'>
  <div *ngFor=" let item of pagedList; trackBy: trackByFn;">
    <app-pokedex-list-item
      (click)="openDialog(item)"
      [item]=item
      class="item">
    </app-pokedex-list-item>
  </div>
</div>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="OnPageChange($event)">
</mat-paginator>

