@import 'src/styles/constants';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: getUnit(120);
}

img {
  width: getUnit(100);
  align-self: center;
  cursor: pointer;
  padding: 1%;
  box-sizing: border-box;
}

.spinner{
  align-self: center;
  width: 100%;
  color: white;
}
